a:link{ color:black; text-decoration: none;}
a:visited{color:black; text-decoration: none;}
a:hover{color:black; text-decoration: none;}

body{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

th, td{
    width: 90px;
}

th{
    height: 30px;
    text-align: center;
    vertical-align: top;
}

td{
    text-align: left;
    vertical-align: top;
}

table{
    width: 650px;
    height: 450px;
    margin-left: 120px;
}

h4{
    margin: 0px;
}